<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards based custom ruleset for your plugin">
	<description>Generally-applicable sniffs for WordPress plugins.</description>

	<!-- What to scan -->
	<file>.</file>
	<exclude-pattern>/vendor/</exclude-pattern>
	<exclude-pattern>/build/</exclude-pattern>
	<exclude-pattern>/node_modules/</exclude-pattern>
	<exclude-pattern>/wordpress/</exclude-pattern>
	<exclude-pattern>/tests/php/bootstrap.php</exclude-pattern>


	<arg value="ps"/>
	<arg name="basepath" value="."/>
	<arg name="extensions" value="php"/>
	<arg name="colors"/>
	<arg name="parallel" value="8"/>

	<config name="testVersion" value="7.3-"/>
	<rule ref="PHPCompatibilityWP"/>

	<config name="minimum_supported_wp_version" value="5.9"/>
	<rule ref="WordPress">
		<exclude name="Generic.Commenting.DocComment.MissingShort" />
		<exclude name="Squiz.Commenting.FunctionComment" />
		<exclude name="WordPress.WP.I18n"/>
		<exclude name="Squiz.Commenting.FileComment"/>
		<exclude name="WordPress.Files.FileName" />
		<exclude name="WordPress.WP.GlobalVariablesOverride.OverrideProhibited" />
		<exclude name="WordPress.WP.GlobalVariablesOverride.Prohibited" />
		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query_tax_query" />
		<exclude name="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents" />
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<!-- Value: replace the function, class, and variable prefixes used. Separate multiple prefixes with a comma. -->
			<property name="prefixes" type="array" value="Advanced_Posts_Blocks"/>
		</properties>
	</rule>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<!-- Value: replace the text domain used. -->
			<property name="text_domain" type="array" value="advanced-posts-blocks"/>
		</properties>
	</rule>
	<rule ref="WordPress.WhiteSpace.ControlStructureSpacing">
		<properties>
			<property name="blank_line_check" value="true"/>
		</properties>
	</rule>
</ruleset>
